<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mts2792.camera">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mts2792.camera.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.mts2792.camera.activities.LicenseActivity"
            android:label="@string/third_party_licences"
            android:parentActivityName="com.mts2792.camera.activities.AboutActivity"/>

        <activity
            android:name="com.mts2792.camera.activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="com.mts2792.camera.activities.SettingsActivity"/>

        <activity
            android:name="com.mts2792.camera.activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="com.mts2792.camera.activities.MainActivity"/>

        <receiver
            android:name="com.mts2792.camera.HardwareShutterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CAMERA_BUTTON"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
